<h1 class="title">Manage Staff</h1>

{{#ifEquals data.updatedMessage.status 'OK_UPDATEDUSER'}}
<div id="updateMessage" class="notification is-success is-light">
    <p><b><i class="fas fa-check"></i>&ensp;User updated successfully:</b> {{data.updatedMessage.updatedUser}}</p>
</div>
<script>
    setTimeout(() => {
        $('#updateMessage').slideUp()
    }, 3000)
</script>
{{/ifEquals}}

{{#ifEquals data.updatedMessage.status 'ERR_UPDATEDUSER'}}
<div id="updateMessage" class="notification is-danger">
    <p><b><i class="fas fa-exclamation-triangle"></i>&ensp;Something went wrong</b></p>
    <p>'{{data.updatedMessage.updatedUser}}' could not be updated. The error is as follows:</p>
    <code>
      {{data.updatedMessage.err}}
  </code>
</div>
<script>
    setTimeout(() => {
        $('#updateMessage').slideUp()
    }, 10000)
</script>
{{/ifEquals}}

<table class="table is-fullwidth">
    <tr>
        <th>Username</th>
        <th>Last login</th>
        <th>Last IP Address</th>
    </tr>
    {{#each data.users}}
    <tr>
        <td><a href="/admin/manage/users/edit/{{this.id}}">{{ this.name }}</a></td>

        <td>{{timestampParseISO this.lastseen_time }}</td>

        <td>{{this.ip_address}}</td>
    </tr>
    {{/each}}
</table>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {{#ifNotEquals data.pagination.current data.pagination.firstPage }}
    <a class="pagination-previous" href="?page={{data.pagination.previous}}">Previous</a>
    {{/ifNotEquals}}

    {{#ifNotEquals data.pagination.current data.pagination.lastPage }}
    <a class="pagination-next" href="?page={{data.pagination.next}}">Next page</a>
    {{/ifNotEquals}}
    <ul class="pagination-list">
        {{#ifNotEquals data.pagination.current data.pagination.firstPage }}
        {{#ifNotEquals data.pagination.previous data.pagination.firstPage }}
        <li><a class="pagination-link" href="?page={{data.pagination.firstPage}}">{{data.pagination.firstPage}}</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {{/ifNotEquals}}
        <li><a class="pagination-link" href="?page={{data.pagination.previous}}">{{data.pagination.previous}}</a></li>
        {{/ifNotEquals}}

        <li><a class="pagination-link is-current" aria-current="page">{{data.pagination.current}}</a></li>

        {{#ifNotEquals data.pagination.current data.pagination.lastPage }}
        {{#ifNotEquals data.pagination.next data.pagination.lastPage }}
        <li><a class="pagination-link" href="?page={{data.pagination.next}}">{{data.pagination.next}}</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {{/ifNotEquals}}
        <li><a class="pagination-link" href="?page={{data.pagination.lastPage}}">{{data.pagination.lastPage}}</a></li>
        {{/ifNotEquals}}
    </ul>
</nav>