<h1 class="title">Support Tickets</h1>
<table class="table is-fullwidth">
    <tr>
        <th>Issue</th>
        <th>User</th>
        <th>Status</th>
    </tr>
    {{#each data.tickets}}
    <tr>
        <td><a href="/admin/manage/tickets/edit/{{this.ticket_id}}">{{ this.support_type }}</a></td>

        <td>{{ this.uid }}</td>

        <td>
            {{#ifEquals this.status 'Open'}}
            <span class="tag is-black is-light">{{ this.status }}</span>
            {{/ifEquals}}
            {{#ifEquals this.status 'Pending'}}
            <span class="tag is-success is-light">{{ this.status }}</span>
            {{/ifEquals}}
            {{#ifEquals this.status 'Closed'}}
            <span class="tag is-danger is-light">{{ this.status }}</span>
            {{/ifEquals}}
        </td>
    </tr>
    {{/each}}
</table>