<h1 class="title">Manage Users</h1>
<table class="table is-fullwidth">
    <tr>
        <th>Username</th>
        <th>Email status</th>
        <th>Registration date</th>
        <th>Last login</th>
        <th>Account Mode</th>
        <th>Last IP Address</th>
    </tr>
    {{#each data.users}}
    <tr>
        <td><a href="/admin/manage/user/{{this.id}}">{{ this.name }}</a></td>

        {{#ifEquals this.email_status true}}
        <td><i class="fas fa-check"></i></td>
        {{else}}
        <td><i class="fas fa-times"></i></td>
        {{/ifEquals}}

        <td>{{timestampParseISO this.registration_time }}</td>

        <td>{{timestampParseISO this.last_seen_time }}</td>

        {{#ifEquals this.account_mode 1}}
        <td>Tour Guide</td>
        {{else}}
        <td>Standard User</td>
        {{/ifEquals}}

        <td>{{this.ip_address}}</td>
    </tr>
    {{/each}}
</table>