<link rel='stylesheet' href='../../third_party/alex/listing.css'>

<div class="column is-one-quarter">
    <a class="listing-clickable" href='/listing/info/{{this.id}}'>
        <div class="box listing-image" style='background-image: url("/static/listings/{{this.tourImage}}")'>
            <div>
                <p class="content has-text-white">
                    {{this.tourDesc}}
                </p>
            </div>
        </div>
        <h3 class="title">{{this.tourTitle}}</h3>
        {{!-- <h4 class="subtitle has-text-grey"><i class="fas fa-location-arrow"></i>&nbsp;{{this.place}}</h4> --}}
    </a>
</div>
