<link rel='stylesheet' href='../../third_party/alex/listing.css'>

<div class="column is-one-quarter">
    <a class="listing-clickable" href='/listing/info/{{this.id}}'>
        <div class="box listing-image" style='background-image: url("/Listing/{{this.tourImage}}")'>
            <div>
                <p class="content has-text-white">
                    {{this.tourDesc}}
                    {{!-- <button class='favourite-button'><i class="fa fa-heart"></i></button> --}}
                    <button class='favourite-button'><i class="fa fa-heart-broken"></i></button>
                </p>
            </div>
        </div>
        <h3 class="title">{{this.tourTitle}}</h3>
        {{!-- <h4 class="subtitle has-text-grey"><i class="fas fa-location-arrow"></i>&nbsp;{{this.place}}</h4> --}}
    </a>
</div>
