<link rel="stylesheet" href="/third_party/bulma/bulma-divider.css">
<link rel="stylesheet" href="/third_party/bulma/bulma-badge.css">


    <section class="section has-background-link-light is-small">
        <div class="container">
            <h1 class="is-size-1 has-text-weight-bold">Your Bookings</h1>
            <h3 class="subtitle">All your bookings in one place.</h3>
        </div>
    </section>
{{#if data.bookList}}
    <div class="container mt-5">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        <p class="subtitle has-text-weight-semibold">Upcoming Tours</p>
                        <table class='table is-striped is-fullwidth'>
                            <tr>
                                <th>Date</th>
                                <th>Tour</th>
                            </tr>
                            {{#each data.bookList}}
                            {{#ifEquals this.processStep '4'}}
                                <tr>
                                    {{!-- formatting needed --}}
                                    <td>{{dateParseISO this.tourStart}}</td>
                                    {{!-- <td><a href="/{{this.bookId}}">{{#with (lookup ../listings @index)}}{{tourTitle}}{{/with}}</a>  --}}
                                    <td><a href="/{{this.bookId}}">{{this.[Shop.tourTitle]}}</a></td>
                                </tr>
                            {{/ifEquals}}
                            {{/each}}
                        </table>
                    </div>

                    

                    <div class="divider is-vertical is-right"></div>
                    <div class="column">
                        <p class="subtitle has-text-weight-semibold">Required Action</p>
                        <table class='table is-striped is-fullwidth'>
                            {{!-- preferrably without creating new list --}}
                            {{!-- names displayed incorrectly as listings is used to fetch names, listings contains all bookings, indexes do not align --}}
                            {{#each data.bookList}}
                            {{#ifEquals this.processStep '2'}}
                                <tr>
                                    <th>{{this.[Shop.tourTitle]}}</th>
                                    <td><a href="/bookings/{{this.bookId}}">
                                        <span class="tag is-link">Review Tour Plan&nbsp;
                                            <i class="fas fa-arrow-right"></i></span>
                                    </a></td>
                                </tr>
                            {{/ifEquals}}

                            {{#ifEquals this.processStep '3'}}
                                <tr>
                                    <th>{{this.[Shop.tourTitle]}}</th>
                                    <td><a href="/bookings/{{this.bookId}}">
                                        <span class="tag is-link">Make Payment&nbsp;
                                            <i class="fas fa-arrow-right"></i></span>
                                    </a></td>
                                </tr>
                            {{/ifEquals}}

                            {{#ifEquals this.processStep '4'}}
                                {{#ifAfterToday this.tourStart}}
                                {{{this.revisions}}}
                                    <tr>
                                        <th>{{{this.[Shop.tourTitle]}}}</th>
                                        <td><a href="/bookings/{{{this.bookId}}}">
                                            <span class="tag is-link">Go on &nbsp;
                                                <i class="fas fa-arrow-right"></i></span>
                                        </a></td>
                                    </tr>
                                {{/ifAfterToday}}
                            {{/ifEquals}}

                             {{#ifEquals this.processStep '5'}}
                                <tr>
                                    <th>{{this.[Shop.tourTitle]}}</th>
                                    <td><a href="/bookings/{{this.bookId}}/review">
                                        <span class="tag is-link">Leave a review&nbsp;
                                            <i class="fas fa-arrow-right"></i></span>
                                    </a></td>
                                </tr>
                            {{/ifEquals}}
                            {{/each}}
                        </table>
                    </div>

                </div>
            </div>
        </div>


    <section class="section">
        <div class="container">

                    <!--tabs-->
                    {{!-- confirmed, planning --}}
                    <div class="tabs is-toggle">
                        <ul>
                            <li class="is-active">
                            <a><span>Current</span></a>
                            </li>
                            <li>
                            <a><span>Completed</span></a>
                            </li>
                        </ul>
                        </div>
                        {{!-- add a link to access archived (completed bookings), will be in a different route --}}
                    <!--tabs-->

                    {{#each data.bookList}}
                    <!-- Card (todo: partial)-->
                    <a href="/bookings/{{this.bookId}}">
                        <div class="box">
                            <div class="columns">
                                  <div class="column is-one-fifth m-0" style="background-image: url('/static/listings/{{this.[Shop.tourImage]}}'); background-size: cover; background-position: center center;">
                                {{!-- style="background-image: url('data:image/jpeg;base64, tourimage;" --}}
                                </div> 
                                <div class="column is-three-fifths m-0">
                                    <p class="has-text-weight-bold is-size-4">{{this.[Shop.tourTitle]}}</p>
                                    {{!-- tags --}}
                                    {{#ifInRange this.processStep 1 2}}
                                        <span class="tag is-info is-light mb-4">Planning</span>
                                    {{/ifInRange}}

                                    {{#ifEquals this.processStep 2 }}
                                        <span class="tag is-primary">Review Tour Plan</span>
                                    {{/ifEquals}}

                                    {{#ifEquals this.processStep 3 }}
                                        <span class="tag is-primary">Payment Pending</span>
                                    {{/ifEquals}}

                                    {{#ifEquals this.processStep 4 }}
                                        <span class="tag is-success is-light">Confirmed</span>
                                    {{/ifEquals}}
                                    
                                    {{#ifEquals this.completed 1 }}
                                        <span class="tag is-warning is-light mb-4">Completed</span>
                                    {{/ifEquals }}
                                    {{!-- tags --}}
                                </div>
                                <div class="column is-one-fifth has-text-right">
                                    <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                    <!-- end: card --> 
                    {{/each}}

{{else}}
                    <div class='container mt-5 mb-5 has-text-centered'>
                        <div class="subtitle ">Nothing to display here. <br>Start a tour with
                    Tourisit today.</div>
                    <a class="button is-primary is-large" href="/marketplace"> 
                    <i class="fas fa-store mr-2"></i> Head to the marketplace <i class="fas fa-arrow-right ml-2"></i>
                    </a>
{{/if}}

        </div>
    </section>