<div class="column ml-5 mr-5 message-container">
    {{#if data.chat}}
    <div id="message-container-display" style="display: none">
        {{#each data.chat}}

        {{#ifEquals this.flag 'EMBED'}}
        <hr>
        <p class="has-text-centered block">{{{this.messageText}}}</p>
        {{/ifEquals}}

        {{#ifEquals this.flag 'SENT'}}
            {{#ifEquals @root.data.currentUser.id this.senderId}}
            <p class="message-bubble send mt-3">{{this.messageText}}</p>
            {{else}}
            <p class="message-bubble receive mt-3">{{this.messageText}}</p>
            {{/ifEquals}}
        {{/ifEquals}}
        {{/each}}
    </div>
    <div class="message-input is-glass-white">
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input id="messageBoxInput" class="input" type="text" name="messageText" placeholder="Type message...">
                <span class="icon is-small is-left">
                    <i class="fas fa-keyboard"></i>
                </span>
                <p class="help has-text-grey">Press <code>enter</code> to send.</p>
            </div>
        </div>
    </div>
    {{else}}
    <div>
        <p class="title has-text-grey is-1 has-text-centered mt-6">ヽ(・ω・)ゝ</p>
        <p class="subtitle has-text-centered has-text-grey-light">Click a user to view chat.</p>
    </div>
    {{/if}}
</div>

{{#if data.chat}}
{{!-- This exists because turbolinks caches <head></head> and is here for turbolinks to know to only run chat.js when it sees this --}}
<div id="thisIsAChatPageSoPleaseLoadTheChatScript"></div>
{{/if}}