<link rel='stylesheet' href='/third_party/bulma/bulma-timeline.min.css'>
<link rel='stylesheet' href='/third_party/alex/listing.css'>

<script>
    $(document).ready(()=> {
        $("#editImgBtn").on('click', ()=>{
            $("input[name=tourImage").click()
        })

        $("input[name=tourImage").on('change', ()=>{
            $("#editImageForm").submit()
            console.log("SUBMIT")
        })
    })
</script>

<section class="hero is-black"
    style="background: url('/static/listings/{{tourData.tourImage}}'); background-position: center center; background-size: cover; background-color: rgba(0,0,0,.15) !important; background-blend-mode: overlay !important;">
    <div class="hero-fadein"></div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{tourData.tourTitle}}</h1>
            <p class="subtitle">By <a href="/u/profile/{{tourData.userId}}">{{tourguideName}}</a></p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container block">
        <div class="columns is-variable is-5">
            <div class="column is-one-quarter">
                <div class="box p-5">
                    <div class="block">
                        <h3 class="title is-4">Booking</h3>
                        <p><span class="has-text-weight-bold">Price:</span> ${{tourData.tourPrice}}</p>
                        <p>
                            <span class="has-text-weight-bold">Average tour duration:</span>
                            {{tourData.tourDuration}}h
                        </p>

                        <p>
                            <span class="has-text-weight-bold">Visited locations:</span>
                            <span class="tags">
                                {{#each (readArrWithReplace tourData.finalLocations)}}
                                <span class="tag">
                                    {{this}}
                                </span>
                                {{/each}}
                            </span>
                        </p>
                    </div>

                    <hr>

                    <div class="block">
                        <h3 class="title is-4">Availability</h3>
                        <p><span class="has-text-weight-bold">Days:</span>
                            {{#each (readArr tourData.finalDays)}}
                            {{this}}
                            {{/each}}
                        </p>
                        <p>
                            <span class="has-text-weight-bold">Timings:</span>
                            {{#each (readArr tourData.finalTimings)}}
                            {{this}}
                            {{/each}}
                        </p>
                    </div>
                </div>
                <div class="box pt-6 pb-6 has-background-black">
                    <div class="timeline is-centered">
                        <header class="timeline-header">
                            <span class="tag is-medium is-info">Start</span>
                        </header>
                        {{#each (readArrWithReplace tourData.finalItinerary)}}
                        <div class="timeline-item">
                            <div class="timeline-marker is-icon">
                                <i class="fa fa-flag"></i>
                            </div>
                            <div class="timeline-content has-text-white">
                                <p>{{this}}</p>
                            </div>
                        </div>
                        {{/each}}
                        <div class="timeline-header">
                            <span class="tag is-medium is-info">End</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="block">
                    <h2 class="title">About</h2>
                    <p class="subtitle">Learn more before going</p>
                    <p>{{tourData.tourDesc}}</p>
                </div>
                <hr>
                <div class="block has-background-info-light pt-5 pb-5 has-text-centered" style="border-radius: 4px;">
                    <h2 class="title has-text-centered has-text-dark is-4">On the fence?</h2>
                    <p class="subtitle has-text-centered has-text-grey">Contact the tour guide before booking</p>

                    <div id="sendMessageModal" class="modal is-active" style="display: none;">
                        <div class="modal-background" onclick="$('#reportGenModal').fadeOut('fast')"></div>
                        <div class="modal-content">
                            <div class="box p-6">
                                <form method="POST" action="/messages/start_chat">
                                    <h1 class="title">Leave a message</h1>
                                    <p class="subtitle">Please enter your enquiry for the tour guide.</p>
                                    <input type="hidden" name="withParticipant" value="{{tourData.userId}}" required>
                                    <input type="hidden" name="enquireTourID" value="{{tourData.id}}" required>
                                    <input type="hidden" name="enquireTourName" value="{{tourData.tourTitle}}" required>
                                    <textarea name="msgToSend" class="textarea block"
                                        placeholder="Hi, I'll like to know whether..." required></textarea>
                                    <button class="is-fullwidth button is-dark"><i class="fas fa-arrow-right"></i>&ensp;Send</button>
                                </form>
                            </div>
                        </div>
                        <button onclick="$('#sendMessageModal').fadeOut('fast')" class="modal-close is-large"
                        aria-label="close"></button>
                    </div>
                    <button class="button is-info" onclick="$('#sendMessageModal').fadeIn('fast')"><i class="fas fa-comment-dots"></i>&ensp;Start chat</button>
                </div>
                <hr>
                <div class="block">
                    <h2 class="title">Reviews</h2>
                    <p class="subtitle">See what past tourisits have to say</p>
                    <div>
                        {{#each tourReviews}}
                        <div class="box p-5">
                            <p>
                                <span class="has-text-weight-bold">
                                    <a href="/u/profile/{{ this.reviewerId }}">Name</a>
                                </span>
                                <span>
                                    &nbsp;
                                    &bull;
                                    &nbsp;
                                </span>
                                <span>
                                    {{ timestampParseISO this.createdAt }}
                                </span>
                                <span>
                                    &nbsp;
                                    &bull;
                                    &nbsp;
                                </span>
                                <span>
                                    {{ this.rating }}
                                </span>
                            </p>
                            <p class="content">{{ this.reviewText }}</p>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="toolbar" class="navbar is-fixed-bottom pb-4 pt-3 is-glass-white">
    <div class="container">
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <a onclick="goBack()" class="navbar-item has-text-weight-medium has-text-danger-dark">
                    <i class="fas fa-arrow-left"></i>&ensp;Previous page
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#if isOwner}}
                        
                        {{#if (isDefined errMsg)}}
                        <div class='container' style="margin-right: 10px">
                            <p class='has-text-danger'>{{errMsg}}</p>
                        </div>
                        {{/if}}
                        <form id="editImageForm" enctype="multipart/form-data" method="post" action="/listing/edit/image/{{tourData.id}}">
            
                            <button class='navbar-item button is-link is-light' id="editImgBtn" type="button">
                                <span class='icon'>
                                    <i class="fas fa-image"></i>
                                </span>
                                <span>
                                    Edit Image
                                </span>
                            </button>

                            <input name="tourImage" type="file" accept="image/x-png,image/jpeg" hidden>
                        </form>

                        <a class='navbar-item button is-link is-light' href='/listing/edit/{{tourData.id}}'>
                            <span class='icon'>
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>
                                Edit information
                            </span>
                        </a>
                        <!-- Check if hidden or not -->
                        {{#if (evalBoolean tourData.hidden)}}
                        {{#if bannedStatus}}
                        <a class='button is-success is-light' href='/listing/info/{{tourData.id}}'>
                            <span class='icon'>
                                <i class="fas fa-eye"></i>
                            </span>
                            <span>
                                Request suspension review
                            </span>
                        </a>
                        {{else}}
                        <a class='button is-success is-light' href='/listing/unhide/{{tourData.id}}'>
                            <span class='icon'>
                                <i class="fas fa-eye"></i>
                            </span>
                            <span>
                                Unarchive
                            </span>
                        </a>
                        {{/if}}
                        {{else}}
                        <a class='button is-light' href='/listing/hide/{{tourData.id}}'>
                            <span class='icon'>
                                <i class="fas fa-eye-slash"></i>
                            </span>
                            <span>
                                Archive
                            </span>
                        </a>

                        {{/if}}
                        <a class='button is-danger is-light' href="/listing/delete/{{tourData.id}}">
                            <span class='icon'>
                                <i class="fas fa-trash"></i>
                            </span>
                            <span>
                                Delete
                            </span>
                        </a>

                        {{else}}
                        <a class='navbar-item button is-success' href="/listing/{{tourData.id}}/purchase">
                            <span class='icon'>
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                            <span>
                                Book now
                            </span>
                        </a>

                        {{#if (iteminWishList tourData.id wishlistArr )}}
                        <a class='button is-danger' href="/listing/{{tourData.id}}/unfavourite">
                            <span class='icon'>
                                <i class="fas fa-heart-broken"></i>
                            </span>
                            <span>
                                Remove from wishlist
                            </span>
                        </a>

                        {{else}}
                        <a class='button is-danger' href="/listing/{{tourData.id}}/favourite">
                            <span class='icon'>
                                <i class="fas fa-heart"></i>
                            </span>
                            <span>
                                Add to wishlist
                            </span>
                        </a>

                        {{/if}}


                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    goBack = () => {
        // If no history go to homepage
        if (window.history.length === 1) {
            window.location.href = '/';

            return;
        }
        // Otherwise go back in history
        window.history.back();
    }
</script>


