<link rel='stylesheet' href='/third_party/bulma/bulma-timeline.min.css'>
<link rel='stylesheet' href='/third_party/alex/listing.css'>


<section class='section'>
    {{!-- <a href='/listing'>
        <button class='button mr-4 is-danger is-lighted'>
            <span class='icon'>
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>
                Back to Home
            </span>
        </button>
    </a> --}}
    <a href='/marketplace'>
        <button class='button mr-4 is-danger is-lighted'>
            <span class='icon'>
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>
                Marketplace
            </span>
        </button>
    </a>
</section>


<section class="section" style="padding-top: 0rem">
    <div class='container'>

        {{#if isOwner}}
            {{#if (isDefined errMsg)}}
            <div class='container'>
                <p>{{errMsg}}</p>
            </div>
            {{/if}}
        {{>editableImage}}

        {{else}}
        <div class='listing-img' style='background: url("/static/listings/{{data.tourImage}}") center; background-size: cover;'></div>

        {{/if}}

        <div class='box' img='content-box'>
            <div class='columns'>
                <!-- For name and description -->
                <div class='column is-5'>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Title:</h1>
                        <p class='subtitle is-6'>{{data.tourTitle}}</p>
                    </div>
                    
                    <br>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Description:</h1>
                        <p class='subtitle is-6'>{{data.tourDesc}}</p>
                    </div>

                    <br>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Price:</h1>
                        <p class='subtitle is-6'>${{data.tourPrice}}</p>
                    </div>
                </div>


                <div class="column is-4">
                    
                    <div class="timeline">

                        <header class="timeline-header">
                            <span class="tag is-medium is-info">Tour Start</span>
                        </header>

                        {{#each (readArrWithReplace data.finalItinerary)}}
                        <div class="timeline-item">
                            <div class="timeline-marker is-icon">
                                <i class="fa fa-flag"></i>
                            </div>
                            <div class="timeline-content">
                                <p>{{this}}</p>
                            </div>
                        </div>
                        {{/each}}

                        <div class="timeline-header">
                          <span class="tag is-medium is-info">End</span>
                        </div>
                      </div>
                </div>

                <div class='column is-3'>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Duration:</h1>
                        <p class='subtitle is-6'>{{data.tourDuration}} hours</p>
                    </div>

                    <div class='content'>
                        <h1 class='title is-4'>Tour Timing:</h1>
                        {{#each (readArr data.finalTimings)}}
                        <p class='subtitle is-6'>{{this}}</p>
                        {{/each}}
                    </div>

                    <div class='content'>
                        <h1 class='title is-4'>Tour Days:</h1>
                        {{#each (readArr data.finalDays)}}
                        <p class='subtitle is-6'>{{this}}</p>
                        {{/each}}
                    </div>
                    
                    <div class='content'>
                        <h1 class='title is-4'>Tour Locations:</h1>
                        {{#each (readArrWithReplace data.finalLocations)}}
                        <p class='subtitle is-6'>{{this}}</p>
                        {{/each}}
                    </div>
                    
                </div>

            </div>
            
            <br><br>
            <div class='container'>
                {{#if isOwner}}
                <a class='button mr-4 is-dark' href='/listing/edit/{{data.id}}'>
                    <span class='icon'>
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>
                        Edit Listing
                    </span>
                </a>

                <!-- Check if hidden or not -->
                {{#if (evalBoolean data.hidden)}}
                <a class='button mr-4 is-success is-light' href='/listing/unhide/{{data.id}}'>
                    <span class='icon'>
                        <i class="fas fa-eye"></i>
                    </span>
                    <span>
                        Unhide Listing
                    </span>
                </a>
                {{else}}

                <a class='button mr-4 is-danger is-light' href='/listing/hide/{{data.id}}'>
                    <span class='icon'>
                        <i class="fas fa-eye-slash"></i>
                    </span>
                    <span>
                        Hide Listing
                    </span>
                </a>
                
                {{/if}}

                <a class='button mr-4 is-danger is-light' href="/listing/delete/{{data.id}}">
                    <span class='icon'>
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>
                        Delete Listing
                    </span>
                </a>

                {{else}}
                <a class='button mr-4 is-success is-outlined' href="/listing/{{data.id}}/purchase">
                    <span class='icon'>
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>
                        Purchase
                    </span>
                </a>

                {{#if (iteminWishList data.id wishlistArr )}}
                <a class='button mr-4 is-danger is-outlined' href="/listing/{{data.id}}/unfavourite">
                    <span class='icon'>
                        <i class="fas fa-heart-broken"></i>
                    </span>
                    <span>
                        Remove from favourite
                    </span>
                </a>

                {{else}}
                <a class='button mr-4 is-danger is-outlined' href="/listing/{{data.id}}/favourite">
                    <span class='icon'>
                        <i class="fas fa-heart"></i>
                    </span>
                    <span>
                        Add to favourite
                    </span>
                </a>
                
                {{/if}}

                
                {{/if}}
        </div>
    </div>
</section>


