<link rel='stylesheet' href='/third_party/bulma/bulma-timeline.min.css'>
<link rel='stylesheet' href='/third_party/alex/listing.css'>

<section class="hero is-large is-primary" style="height: 30rem">
    <div class="hero-fadein"></div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{tourData.tourTitle}}</h1>
            <p class="subtitle">By <a href="/u/profile/{{tourData.userId}}">{{tourguideName}}</a></p>
        </div>
    </div>
</section>

<section class="section" style="margin-top: -8rem">
    <div class="container block">
        <div class="box p-6">
            <div class='container'>
                            <div class='columns'>
                <!-- For name and description -->
                <div class='column is-5'>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Title:</h1>
                        <p class='subtitle is-6'>{{tourData.tourTitle}}</p>
                    </div>

                    <br>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Description:</h1>
                        <p class='subtitle is-6'>{{tourData.tourDesc}}</p>
                    </div>

                    <br>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Price:</h1>
                        <p class='subtitle is-6'>${{tourData.tourPrice}}</p>
                    </div>
                </div>


                <div class="column is-4">

                    <div class="timeline">

                        <header class="timeline-header">
                            <span class="tag is-medium is-info">Tour Start</span>
                        </header>

                        {{#each (readArrWithReplace tourData.finalItinerary)}}
                        <div class="timeline-item">
                            <div class="timeline-marker is-icon">
                                <i class="fa fa-flag"></i>
                            </div>
                            <div class="timeline-content">
                                <p>{{this}}</p>
                            </div>
                        </div>
                        {{/each}}

                        <div class="timeline-header">
                            <span class="tag is-medium is-info">End</span>
                        </div>
                    </div>
                </div>

                <div class='column is-3'>
                    <div class='content'>
                        <h1 class='title is-4'>Tour Duration:</h1>
                        <p class='subtitle is-6'>{{tourData.tourDuration}} hours</p>
                    </div>

                    <div class='content'>
                        <h1 class='title is-4'>Tour Timing:</h1>
                        {{#each (readArr tourData.finalTimings)}}
                        <p class='subtitle is-6'>{{this}}</p>
                        {{/each}}
                    </div>

                    <div class='content'>
                        <h1 class='title is-4'>Tour Days:</h1>
                        {{#each (readArr tourData.finalDays)}}
                        <p class='subtitle is-6'>{{this}}</p>
                        {{/each}}
                    </div>

                    <div class='content'>
                        <h1 class='title is-4'>Tour Locations:</h1>
                        {{#each (readArrWithReplace tourData.finalLocations)}}
                        <p class='subtitle is-6'>{{this}}</p>
                        {{/each}}
                    </div>

                </div>

            </div>
                <hr>
                {{#if isOwner}}
                <a class='button mr-4 is-dark' href='/listing/edit/{{tourData.id}}'>
                    <span class='icon'>
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>
                        Edit Listing
                    </span>
                </a>

                <!-- Check if hidden or not -->
                {{#if (evalBoolean tourData.hidden)}}
                {{#if bannedStatus}}
                <a class='button mr-4 is-success is-light' href='/listing/info/{{tourData.id}}'>
                    <span class='icon'>
                        <i class="fas fa-eye"></i>
                    </span>
                    <span>
                        Apply to Unban
                    </span>
                </a>
                {{else}}
                <a class='button mr-4 is-success is-light' href='/listing/unhide/{{tourData.id}}'>
                    <span class='icon'>
                        <i class="fas fa-eye"></i>
                    </span>
                    <span>
                        Unhide Listing
                    </span>
                </a>
                {{/if}}
                {{else}}

                <a class='button mr-4 is-danger is-light' href='/listing/hide/{{tourData.id}}'>
                    <span class='icon'>
                        <i class="fas fa-eye-slash"></i>
                    </span>
                    <span>
                        Hide Listing
                    </span>
                </a>
                
                {{/if}}

                <a class='button mr-4 is-danger is-light' href="/listing/delete/{{tourData.id}}">
                    <span class='icon'>
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>
                        Delete Listing
                    </span>
                </a>

                {{else}}
                <a class='button mr-4 is-success is-outlined' href="/listing/{{tourData.id}}/purchase">
                    <span class='icon'>
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>
                        Purchase
                    </span>
                </a>

                {{#if (iteminWishList tourData.id wishlistArr )}}
                <a class='button mr-4 is-danger is-outlined' href="/listing/{{tourData.id}}/unfavourite">
                    <span class='icon'>
                        <i class="fas fa-heart-broken"></i>
                    </span>
                    <span>
                        Remove from favourite
                    </span>
                </a>

                {{else}}
                <a class='button mr-4 is-danger is-outlined' href="/listing/{{tourData.id}}/favourite">
                    <span class='icon'>
                        <i class="fas fa-heart"></i>
                    </span>
                    <span>
                        Add to favourite
                    </span>
                </a>
                
                {{/if}}

                
                {{/if}}
        </div>
        </div>
    </div>
</section>