<link rel="stylesheet" href="/third_party/bulma/bulma-divider.css">
<link rel="stylesheet" href="/third_party/bulma/bulma-tooltip.css">
<link rel="stylesheet" href="/third_party/bulma/bulma-badge.css">
<link rel="stylesheet" href="/third_party/bulma/bulma-timeline.min.css">
<link rel="stylesheet" href="/public/css/pulsing.css">

<script defer src="/js/chatBooking.js" data-turbolinks="false"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"
    integrity="sha512-fB746S+jyTdN2LSWbYSGP2amFYId226wpOeV4ApumcDpIttPxvk1ZPOgnwqwQziRAtZkiFJVx9F64GLAtoIlCQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<head>
<meta name="turbolinks-visit-control" content="reload">
</head>

<section class="section">
    <div class="container">
        <a href="/bookings"><span><i class="fas fa-arrow-left">&ensp;</i> Back to All Bookings</span></a>
        <h1 class="is-size-2 has-text-weight-bold">{{ data.book.[Shop.tourTitle]}}</h1>

        <div class="columns">
            <div class="column is-three-quarters">
                <!-- START: Tabs  -->
                    <div class="tabs is-left pt-4">
                    <ul>
                        <li class="tab pl-3 pr-3 is-active" onclick="openTab(event,'Activity')">
                            <a>Activity</a>
                        </li>
                        <li class="tab pl-3 pr-3" onclick="openTab(event,'Details')">
                            <a>Tour Details</a>
                        </li>
                        <li class="tab pl-3 pr-3" onclick="openTab(event,'Billing')">
                            <a>Billing</a>
                        </li>
                        {{#ifBigger data.book.custom 0}}
                        <li class="tab pl-3 pr-3" onclick="openTab(event,'Req')">
                            <a>Requirements &amp; Requests</a>
                        </li>
                        {{/ifBigger}}
                    </ul>
                    </div>
                <!--END: Tabs-->

                <!--START: Activity Section-->
                <div id="Activity" class="content-tab">
                    <div class="box">
                    <section class="section">
                        <div class="container">
                            <p class="has-text-centered is-size-4 has-text-weight-bold">Activity</p>
                            <div class="has-text-weight-semibold">
                            <span>Current Progress</span>
                            <progress class="progress is-success" value={{data.book.processStep}} max="5">100%</progress>
                            <div id="steps">
                            {{#unless data.reviews.TOUR}}
                            <p>Current Step</p>
                            {{/unless}}
                            <!--START: steps-->
                            <div class="tags are-medium">
                                {{#ifEquals data.book.processStep '0'}}
                                    <a onclick="openTab(event,'Billing')"><span class="tag is-link">Pay Customisation fee</span></a>
                                {{/ifEquals}}

                                {{#ifEquals data.book.processStep '2'}}
                                    <a onclick="window.scrollTo(0,document.body.scrollHeight);"><span class="tag is-link">Review Tour Plan </span></a>
                                {{/ifEquals}}

                                {{#ifEquals data.book.processStep '3'}}
                                    <a onclick="openTab(event,'Billing')"><span class="tag is-link">Make Payment </span></a>
                                {{/ifEquals}}

                                {{#ifEquals data.book.processStep '4'}}
                                    <span {{#ifAfterToday data.book.tourStart}}onclick="$('#CompleteTourModal').fadeIn('fast');" data-tooltip="Declare that you've gone on your tour" {{/ifAfterToday}} 
                                    class="tag has-tooltip-multiline has-tooltip-right {{#ifAfterToday data.book.tourStart}} is-link {{/ifAfterToday}}" 
                                    data-tooltip="Available after the tour date, {{dateParseISO data.book.tourStart}}">
                                    Declare that Tour is Complete </span>
                                {{/ifEquals}}

                                {{#ifBigger data.book.processStep '4'}}
                                {{#unless data.reviews.TOUR}}
                                    {{!-- <a href="/bookings/{{data.book.bookId}}/review"><span class="tag is-link">Leave a Review </span></a> --}}
                                    <span class="tag is-link" onclick="$('#ReviewModal').fadeIn('fast');">Leave a Review </span></a>
                                {{/unless}}
                                {{/ifBigger}}

                                {{#ifEquals data.book.processStep '1'}}
                                    <span class="tag is-light">Awaiting Tour Guide Action</span>
                                {{/ifEquals}}
                            </div>
                            </div>
                            <!--END: steps-->
                            </div>
                            <br>
                            <div class="divider is-right"></div>
                            <p class="has-text-right has-text-link" onclick="window.scrollTo(0,document.body.scrollHeight);" style="cursor: pointer;">
                                <i class="fas fa-angle-double-down"></i> Jump to latest activity</p>
                               <!--START: timeline-->

                            <div class="timeline">
                                <header class="timeline-header">
                                    <span class="tag is-primary">Start</span>
                                </header>

                                <span id="timeline-container">

                                {{#each data.timeline}}
                                    {{#ifEquals this.flag 'ACTIVITY'}}
                                        <div class="timeline-item">
                                            <div class="timeline-marker is-icon has-background-success has-text-white">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="timeline-content">
                                                <p class="has-text-weight-semibold">{{{bookActivityName this.messageText @root.data.currentUser.name @root.data.tg.name}}}</p>
                                            </div>
                                        </div>
                                    {{/ifEquals}}

                                    {{#ifEquals this.flag 'SENT'}}
                                        <div class="timeline-item">
                                            <div class="timeline-marker is-icon has-background-success has-text-white">
                                                <i class="fas fa-comment"></i>
                                            </div>
                                            <div class="timeline-content">
                                                {{#ifEquals this.senderId @root.data.currentUser.id}}
                                                <p class="has-text-weight-semibold">You sent a message:</p>
                                                {{else}}
                                                <p class="has-text-weight-semibold">{{oppositeValue @root.data.currentUser.name @root.data.participants}} sent a message:</p>
                                                {{/ifEquals}}
                                                <p>{{{this.messageText}}}</p>
                                            </div>
                                        </div>
                                    {{/ifEquals}}

                                    {{#ifEquals this.flag 'TOURPLAN'}}
                                        <div class="timeline-item">
                                    <div class="timeline-marker is-icon has-background-success has-text-white">
                                    <i class="fas fa-check"></i>
                                    </div>
                                    <div class="timeline-content">
                                    <p class="has-text-weight-semibold"><span class="has-text-info">{{@root.data.tg.name}}</span>
                                        posted a draft of the Tour Plan (#{{this.messageText}}).</p>

                                    <!--Tour plan card-->
                                    <div class="card ml-3 mt-3 has-background-white-ter is-shadowless">

                                        <header class="card-header is-clickable" onclick="collapseCard(this)">
                                                <p class="card-header-title has-text-centered has-text-weight-bold is-size-5">
                                                Tour Plan (#{{this.messageText}}) </p>

                                                <span class=" card-header-icon icon is-large">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </header>

                                        <div class="card-content is-hidden">
                                            <div class="content">
                                            <table class="table has-background-white-ter is-fullwidth">
                                                <tr>
                                                    <th><i class="far fa-calendar"></i>&ensp;Date</th>
                                                    <td>{{#with (lookup ../tourPlans (numToIndex this.messageText))}}{{dateParseISO tourStart}}{{/with}}</td>
                                                    {{!-- <td>{{#with (lookup ../tourPlans 0)}}{{dateParseISO tourStart}}{{/with}}</td> --}}
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-clock"></i>&ensp;Start Time</th>
                                                    <td>{{#with (lookup ../tourPlans (numToIndex this.messageText))}}{{onlyTime tourStart}}{{/with}}</td>
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-clock"></i>&ensp;End Time</th>
                                                    <td>{{#with (lookup ../tourPlans (numToIndex this.messageText))}}{{onlyTime tourEnd}}{{/with}}</td>
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-user-friends"></i>&ensp;Number of Participants</th>
                                                    <td>{{#with (lookup ../tourPlans (numToIndex this.messageText))}}{{tourPax}}{{/with}}</td>
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-dollar-sign"></i>&ensp;Proposed Cost</th>
                                                    <td>${{#with (lookup ../tourPlans (numToIndex this.messageText))}}{{tourPrice}}{{/with}}</td>
                                                </tr>
                                            </table>
                                            <p class="has-text-centered has-text-weight-bold">Tour Itinerary</p>
                                            <!--START: Itinerary-->

                                            <div class="timeline">
                                                <header class="timeline-header">
                                                    <span class="tag is-medium is-info">Tour Start</span>
                                                </header>

                                                {{#with (lookup ../tourPlans (numToIndex this.messageText))}}
                                                {{#each (readArrWithReplace tourItinerary)}}
                                                <div class="timeline-item">
                                                    <div class="timeline-marker is-icon">
                                                        <i class="fa fa-flag"></i>
                                                    </div>
                                                    <div class="timeline-content">
                                                        <p>{{this}}</p>
                                                    </div>
                                                </div>
                                                {{/each}}
                                                {{/with}}

                                                <div class="timeline-header">
                                                <span class="tag is-medium is-info">End</span>
                                                </div>
                                            </div>                

                                            <!--END: Itinerary-->

                                            </div>
                                        </div>

                                        {{#with (lookup ../tourPlans (numToIndex this.messageText))}}
                                        <footer class="card-footer p-4">
                                            <div class="field is-grouped mt-2">
                                                {{!-- onclick="$('#RequireModal').fadeIn('fast')" --}}
                                            <div class="control">
                                                {{#ifEquals accepted '-1'}}
                                                <button class="button is-danger is-outlined" style="pointer-events: none;">Request a Revision<i class="fas fa-check ml-1"></i></button>
                                                {{/ifEquals}}
                                                {{#ifEquals accepted '0'}}
                                                <button class="button is-danger" onclick="$('#ReqRevisionModal').fadeIn('fast');">Request a Revision</button>
                                                {{/ifEquals}}
                                                {{#ifEquals accepted '1'}}
                                                <button class="button is-static" style="pointer-events: none;">Request a Revision</button>
                                                {{/ifEquals}}

                                                {{#ifEquals accepted '-1'}}
                                                <button class="button is-static" style="pointer-events: none;">Approve Plan</button>
                                                {{/ifEquals}}
                                                {{#ifEquals accepted '0'}}
                                                <button class="button is-success" onclick="$('#AcceptPlanModal').fadeIn('fast');">Approve Plan</button>
                                                {{/ifEquals}}
                                                {{#ifEquals accepted '1'}}
                                                <button class="button is-success is-outlined" style="pointer-events: none;">Approve Plan<i class="fas fa-check ml-1"></i></button>
                                                {{/ifEquals}}

                                        </div>
                                        </footer>
                                        {{/with}}

                                    </div>
                                    <!--Tour plan card-->
                                    </div>
                                </div>
                                    {{/ifEquals}}


                                    {{#ifEquals this.flag "REVIEW"}}
                                    <div class="timeline-item">
                                    <div class="timeline-marker is-icon has-background-success has-text-white">
                                    <i class="far fa-thumbs-up"></i>
                                    </div>
                                    <div class="timeline-content">
                                        {{#ifEquals this.messageText 'TOUR'}}
                                        {{#with @root.data.reviews.[TOUR]}}
                                    <p class="has-text-weight-semibold"> <span class="has-text-info">{{@root.data.currentUser.name}}</span> left a review.</p>
                                    <div class="has-background-white-ter ml-3 mt-3 p-4">
                                        <div class="container">
                                        <p>
                                            {{{rating this.rating}}}
                                        </p>
                                        <p>{{this.reviewText}}</p>
                                        </div>
                                    </div>
                                        {{/with}}
                                        {{/ifEquals}}

                                        {{#ifEquals this.messageText 'CUST'}}
                                        {{#with @root.data.reviews.[CUST]}}
                                    <p class="has-text-weight-semibold"><span class="has-text-info"> {{@root.data.tg.name}}</span> left a review.</p>
                                    <div class="has-background-white-ter ml-3 mt-3 p-4">
                                        <div class="container">
                                        <p>
                                            {{{rating this.rating}}}
                                        </p>
                                        <p>{{this.reviewText}}</p>
                                        </div>
                                    </div>
                                        {{/with}}
                                        {{/ifEquals}}
                                    </div>
                                    </div>
                                    {{/ifEquals}}

                                {{/each}}

                                {{!-- You submitted a Revision Request (#1)
                                You approved Tour Plan (#2)
                                You made payment. You are now ready to go on your tour!
                                You declared that your tour is complete. --}}

                                {{#ifEquals data.book.processStep '0'}}
                                <div class="timeline-item">
                                    <div class="timeline-marker is-icon has-background-grey has-text-white">
                                    <i class="fas fa-ellipsis-h"></i>
                                    </div>
                                    <div class="timeline-content pt-3" onclick="openTab(event,'Billing')">
                                    <p class="button is-link is-inverted has-text-weight-semibold is-italic">
                                        <i class="fas fa-chevron-right mr-2"></i> Pay customisation fee.</p>
                                    </div>
                                </div>
                                {{/ifEquals}}

                                {{#ifEquals data.book.processStep '3'}}
                                <div class="timeline-item">
                                    <div class="timeline-marker is-icon has-background-grey has-text-white">
                                    <i class="fas fa-ellipsis-h"></i>
                                    </div>
                                    <div class="timeline-content pt-3" onclick="openTab(event,'Billing')">
                                    <p class="button is-link is-inverted has-text-weight-semibold is-italic">
                                        <i class="fas fa-chevron-right mr-2"></i> Proceed to Payment.</p>
                                    </div>
                                </div>
                                {{/ifEquals}}

                                {{#ifEquals data.book.processStep '4'}}
                                {{#ifAfterToday data.book.tourStart}}
                                <div class="timeline-item">
                                    <div class="timeline-marker is-icon has-background-grey has-text-white">
                                    <i class="fas fa-ellipsis-h"></i>
                                    </div>
                                    <div class="timeline-content pt-3" onclick="$('#CompleteTourModal').fadeIn('fast');">
                                    <p class="button is-link is-inverted has-text-weight-semibold is-italic">
                                        <i class="fas fa-chevron-right mr-2"></i> Declare that the tour has been completed.</p>
                                    </div>
                                </div>
                                {{/ifAfterToday}}
                                {{/ifEquals}}

                                {{#ifBigger data.book.processStep '4'}}
                                {{#unless data.reviews.TOUR}}
                                <div class="timeline-item">
                                    <div class="timeline-marker is-icon has-background-grey has-text-white">
                                    <i class="fas fa-ellipsis-h"></i>
                                    </div>
                                    <div class="timeline-content pt-3" onclick="$('#ReviewModal').fadeIn('fast');">
                                    <p class="button is-link is-inverted has-text-weight-semibold is-italic">
                                        <i class="fas fa-chevron-right mr-2"></i> Leave a review.</p>
                                    </div>
                                </div>
                                {{/unless}}
                                {{/ifBigger}}

                                </span>

                                <header class="timeline-header">
                                    <span class="tag is-primary">End</span>
                                </header>
                                </div>
                               <!--END: timeline-->
                               {{#ifEquals data.book.completed 1}}
                               <p class="has-text-centered has-text-primary">Your booking is complete.</p>
                            {{/ifEquals}}
                            
                            <hr>
                            {{!-- Textarea --}}
                            <textarea class="textarea" name="message" id="messageToSendInput" placeholder="Leave a message..." rows="5"
                                cols="50"></textarea>
                            
                            <div class="has-text-right">
                                <a id="sendMessageBtn" class="button is-light mt-4">
                                    <span class="icon is-small is-pulled-right">
                                        <i class="fas fa-paper-plane"></i>
                                    </span>
                                    <span>Send Message</span>
                                </a>
                            </div>
                            
                            <br>

                               <p class="has-text-centered has-text-link" onclick="window.scrollTo(0,0);" style="cursor: pointer;">
                                <i class="fas fa-angle-double-up"></i> Back to Top</p>

                        </div>
                    </section>
                    </div>
                </div>
                <!--END: Activity Section-->

                <!--START: Details Section-->
                <div id="Details" class="content-tab" style="display:none;">
                    <div class="box">
                        <section class="section">
                            <div class="container">
                                <p class="has-text-centered is-size-4 has-text-weight-bold">Tour Details
                                {{#ifInRange data.book.processStep 1 2}}
                                    <span class="tag is-warning is-light">Planning</span></p>
                                {{/ifInRange}}
                                {{#ifInRange data.book.processStep 3 6}}
                                    <span class="tag is-success is-light">Finalised</span></p>
                                {{/ifInRange}}
                                <br>
                                <!--START: Tour plan-->
                                <table class="table is-fullwidth">
                                                <tr>
                                                    <th><i class="far fa-calendar"></i>&ensp;Date</th>
                                                    <td>{{dateParseISO data.book.tourStart}}</td>
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-clock"></i>&ensp;Start Time</th>
                                                    {{#ifInRange data.book.processStep 0 2}}
                                                    <td>Unconfirmed</td>
                                                    {{/ifInRange}}
                                                    {{#ifInRange data.book.processStep 3 6}}
                                                    <td>{{onlyTime data.book.tourStart}}</td>
                                                    {{/ifInRange}}
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-clock"></i>&ensp;End Time</th>
                                                    {{#ifInRange data.book.processStep 0 2}}
                                                    <td>Unconfirmed</td>
                                                    {{/ifInRange}}
                                                    {{#ifInRange data.book.processStep 3 6}}
                                                    <td>{{onlyTime data.book.tourEnd}}</td>
                                                    {{/ifInRange}}

                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-user-friends"></i>&ensp;Number of Participants</th>
                                                    <td>{{data.book.bookPax}}</td>
                                                </tr>
                                                <tr onclick="openTab(event,'Billing')" class="is-clickable">
                                                    <th><i class="fas fa-dollar-sign"></i>&ensp;Cost</th>
                                                    {{#ifInRange data.book.processStep 0 2}}
                                                    <td>Unconfirmed</td>
                                                    {{/ifInRange}}
                                                    {{#ifInRange data.book.processStep 3 6}}
                                                    <td>${{data.book.bookBaseprice}}</td>
                                                    {{/ifInRange}}
                                                    {{!-- Calculate final price in the backend --}}
                                                </tr>
                                            </table>
                                            <br>

                                            <!--START: Itinerary-->

                                            <div class="timeline">
                                                <header class="timeline-header">
                                                    <span class="tag is-medium is-info">Tour Start</span>
                                                </header>

                                                {{!-- replace with itinerary from booking once model is updated --}}
                                                {{#each (readArrWithReplace data.book.bookItinerary)}}
                                                <div class="timeline-item">
                                                    <div class="timeline-marker is-icon">
                                                        <i class="fa fa-flag"></i>
                                                    </div>
                                                    <div class="timeline-content">
                                                        <p>{{this}}</p>
                                                    </div>
                                                </div>
                                                {{/each}}

                                                <div class="timeline-header">
                                                <span class="tag is-medium is-info">End</span>
                                                </div>
                                            </div><br> 

                                            {{#ifNotEquals data.book.addInfo ''}}
                                            <div class="mt-3 has-text-centered">
                                                <p class="has-text-weight-bold is-size-4">Additional Information</p>
                                                <p>{{data.book.addInfo}}</p>
                                            </div>
                                            {{/ifNotEquals}}
                                            <!--END: Itinerary-->
                                <!--END: Tour plan-->
                            </div>
                        </section>
                    </div>
                </div>
                <!--END: Details Section-->

                <!--START: Billing Section-->
                <div id="Billing" class="content-tab" style="display:none;">
                    <!-- Paid and outstanding will be hidden for default tours-->
                    <div class="columns is-v-centered">
                        {{#ifBigger data.book.custom 0}}
                        {{#ifInRange data.book.processStep 1 3}}
                        <div class="column">
                            <div class="box p-5">
                                <p class="has-text-weight-bold is-size-5 has-text-success">Paid</p>
                                <table class="table is-fullwidth">
                                    <tr>
                                        <th>Item</th>
                                        <th>Price</th>
                                    </tr>
                                    {{!-- {{#with (readArr data.book.bookCharges)}} --}}
                                    <tr>
                                        <td>Customisation Fee</td>
                                        <td>${{data.charges.customFee}}</td>
                                        {{!-- <td>${{this.[0]}}</td> --}}
                                    </tr>
                                    {{!-- {{/with}} --}}
                                </table>
                            </div>
                        </div>
                        {{/ifInRange}}
                        {{/ifBigger}}

                        {{#ifEquals data.book.processStep '0'}}
                            <div class="column">
                            <div class="box p-5">
                                <p class="has-text-weight-bold is-size-5 has-text-info">Outstanding</p>
                                <p class="title has-text-centered">${{data.charges.priceToPay}}</p>
                                <p class="subtitle has-text-centered">Customisation fee</p>
                                <button class="button is-fullwidth is-success" type="submit">Proceed to Payment</button>
                            </div>
                        </div>
                        {{/ifEquals}}

                        {{#ifEquals data.book.paid 0}}
                        {{#ifEquals data.book.processStep '3'}}
                        <div class="column">
                            <div class="box p-5">
                                <p class="has-text-weight-bold is-size-5 has-text-info">Outstanding</p>
                                <p class="title has-text-centered">${{data.charges.priceToPay}}</p>
                                <form id="payform" method="POST" action="/listing/{{data.book.bookId}}/stripe-create-checkout">
                                <button class="button is-fullwidth is-success">Proceed to Payment</button></form>
                            </div>
                        </div>
                        {{/ifEquals}}
                        {{/ifEquals}}
                    </div>

                    <div class="box" id="Billing_Overall">
                        <section class="section">
                            <div class="container">
                                <div class="has-text-centered">
                                <p class="has-text-weight-bold is-size-4">{{data.book.[Shop.tourTitle]}}</p>
                                <p class="is-size-6">Overall Cost Breakdown</p>
                                {{#ifEquals data.book.paid 1}}
                                <span class="tag is-success is-light is-medium"><i class="fas fa-check mr-1"></i>Paid in Full</span>
                                {{/ifEquals}}
                                </div>
                                <br>
                                <table class="table is-fullwidth">
                                    <tr class="has-background-grey-lighter">
                                        <th>Item</th>
                                        <th>Price</th>
                                    </tr>
                                    {{#ifBigger data.book.custom 0}}
                                    <tr>
                                        <td>Customisation Fee</td>
                                        <td>${{data.charges.customFee}}</td>
                                    </tr>
                                    {{/ifBigger}}
                                    <tr>
                                        <td>Base Tour Price</td>
                                        <td>${{data.book.bookBaseprice}}</td>
                                    </tr>
                                    {{#ifBigger data.book.custom 0}}
                                    {{#ifSmaller (toNum data.book.revisions) 0}}
                                    <tr>
                                        <td>Extra Revisions {{data.book.revisions}}</td>
                                        {{!-- <td>${{math data.book.revisions '*' data.book.bookCharges}}</td> --}}
                                        <td>${{data.charges.extraRevFees}}</td>
                                    </tr>
                                    {{/ifSmaller}}
                                    {{/ifBigger}}
                                    <tr class="has-background-white-ter has-text-weight-bold is-size-5">
                                        <th>Total</th>
                                        {{!-- <th>${{math (math (math data.book.bookBaseprice '+' data.book.bookCharges) '*' 0.1) '+' (math data.book.bookBaseprice '+' data.book.bookCharges)}}</th> --}}
                                        <th>${{round2DP (math data.charges.customFee '+' data.charges.priceToPay)}}</th>
                                    </tr>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
                <!--END: Billing Section-->

                {{#ifBigger data.book.custom 0}}
                <!--START: Req Section-->
                <div id="Req" class="content-tab" style="display:none;">
                    <div class="box">
                        <section class="section">
                            <div class="container">
                                <p class="has-text-centered is-size-4 has-text-weight-bold">Requirements &amp; Requests</p>

                                {{#each (splitArr_semicolon data.book.custRequests)}}

                                    <!--Req card-->
                                    <div class="card ml-3 mt-3 has-background-white-ter is-shadowless">

                                        <header class="card-header is-clickable" onclick="collapseCard(this)">
                                                <p class="card-header-title has-text-centered has-text-weight-bold is-size-5">
                                                Request (#{{math @index '+' 1}})</p>
                                                <span class=" card-header-icon icon is-large">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </header>

                                        <div class="card-content is-hidden">
                                            <div class="content">
                                                <p>{{this}}</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--Req card-->

                                    {{/each}}
                            </div>
                        </section>
                    </div>
                </div>
                <!--END: Req Section-->
                {{/ifBigger}}

            </div>
            <div class="column is-one-quarter">
                <div class="container mt-5">
                    {{!-- <a href="/u/messages">
                    <button class="button is-fullwidth has-text-weight-semibold is-rounded is-warning is-light">
                        <span class="icon"><i class="fas fa-comment-alt"></i></span>
                        Chat with <span class="has-text-primary ml-1 has-text-weight-bold">{{data.tg.name}}</span>
                    </button></a>
                    <br> --}}

                    <div class="mt-4 has-background-white-bis p-4">
                        <img style="border-radius:10px;" src="/static/listings/{{data.book.[Shop.tourImage]}}">
                        <p>{{data.book.[Shop.tourDesc]}}</p>
                        <a class="pt-5 is-size-7" href="/listing/info/{{data.book.[Shop.id]}}">View Original Listing</a>
                    </div>
                    <br>

                    <div class="mt-4 has-background-white-bis p-4">
                        <p class="has-text-weight-bold is-size-5 mb-2 has-text-centered">Booking Details</p>
                        <table class="table is-fullwidth has-background-white-bis">
                            <tr>
                                <th>Booking ID</th>
                                <td>{{data.book.bookId}}</td>
                            </tr>
                            <tr>
                                <th>Ordered from</th>
                                <td><a href="/u/profile/{{data.tg.id}}">{{data.tg.name}}</a></td>
                            </tr>
                        </table>
                    </div>
                    <br>

                    <div class="mt-4 p-4 has-background-info-light is-light">
                        <span class="has-text-weight-semibold">Have an issue with your tour?</span><br>
                        Contact <a href="/helpdesk">Customer Support</a>.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{{>reqRevisionModal}}
{{>acceptPlanModal}}
{{>declareTourComplete}}
{{>reviewModal}}

<script defer src="/js/tabs.js"></script>

<input id="currentUserID" type="hidden" value="{{data.currentUser.id}}">
<input id="currentChatID" type="hidden" value="{{data.book.chatId}}">
{{!-- This exists because turbolinks caches <head></head> and is here for turbolinks to know to only run chat.js when it sees this --}}
<div id="thisIsABookingPageSoPleaseLoadTheChatScript"></div>