<div class='container'>
    <p class="pb-5"><a href="/admin/manage/tours"><i class="fas fa-arrow-left"></i>&ensp;Return to
            Tours management</a></p>

    <div class="box p-5">
        <small>Editing Tour:</small>
        <a href='/listing/info/{{listing.id}}'><h2 class="title is-2">{{listing.tourTitle}}</h2></a>
        <p class="subtitle is-5 has-text-grey-light">UUID: {{listing.id}}</p>
        <p class="subtitle is-5 has-text-grey-light">Description: {{listing.tourDesc}}</p>

        <hr>
        <div class="heading">Administrative Actions</div>
        {{#if bannedStatus}}

        {{else}}
        <span class="buttons">
            <form id="adminActionsForm" method='POST'>
                <input type='hidden' id="editingPortion" name='editingPortion' value="ADMIN_LISTING_ACTION">

                <a onclick="$('#revokeTourModal').fadeIn('fast')" class="button is-rounded is-danger">
                    <span class="icon is-small">
                        <i class="fas fa-user-slash"></i>
                    </span>
                    <span>Revoke Tour</span>
                </a>

                <div id="revokeTourModal" class="modal is-active" style="display: none;">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box p-6">
                            <h1 class="title">Revoke Tour: <i></span>{{listing.tourTitle}}</i></h1>
                            <p class="subtitle"></p>
                            <br>


                            <label class='label has-text-weight-medium has-text-grey-dark' for='revokeReason'>Reason for Revoke</label>
                            <div class='control'>
                                <input class='input' type='text' name='revokeReason'>
                            </div>
                            <br>

                            <a onclick="$('#adminActionsForm').submit()"
                                class="button is-danger"><i class="fas fa-arrow-right"></i>&ensp;Commit action</a>
                            <a onclick="$('#revokeTourModal').fadeOut('fast')" class="button is-light"><i
                                    class="fas fa-times"></i>&ensp;Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </span>
        {{/if}}

    </div>
</div>