<div class='container'>
    <p class="pb-5"><a href="/admin/manage/{{data.previousPage}}"><i class="fas fa-arrow-left"></i>&ensp;Return to {{data.previousPage}} management</a></p>
    <div class="box p-5">
        <small>Editing user:</small>
        <h2 class="title is-2">{{data.user.name}}</h2>
        <p class="subtitle is-5 has-text-grey-light">UUID: {{data.user.id}}</p>
        {{#unless data.readonly}}
        <hr>
        <div class="heading">Administrative Actions</div>
        <span class="buttons">
            <a class="button is-rounded is-light" href='/listing/create'>
                <span class="icon is-small">
                    <i class="fas fa-envelope-open-text"></i>
                </span>
                <span>Send password recovery email</span>
            </a>
            <a class="button is-rounded is-danger is-light">
                <span class="icon is-small">
                    <i class="fas fa-ban"></i>
                </span>
                <span>Ban User</span>
            </a>
            <a class="button is-rounded is-danger">
                <span class="icon is-small">
                    <i class="fas fa-user-slash"></i>
                </span>
                <span>Delete User</span>
            </a>
        </span>
        {{else}}
        <p><b>What is this account for?</b></p>
        {{data.user.bio}}
        {{/unless}}
    </div>

    {{#unless data.readonly}}
    <div class='box p-5'>
        <h4 class="title">Account Settings</h4>
        <!-- Update account settings -->
        <form method='POST'>

            <fieldset>
                <!-- Account Mode -->
                <div class='field'>
                    <label class='has-text-weight-medium has-text-grey-dark' for='account_mode'>Tour Guide
                        Mode:</label> &nbsp;
                    <input class='switch is-rounded' id='account_mode' type='checkbox' name='account_mode' />
                    <!-- Empty label -->
                    <label class='has-text-weight-medium has-text-grey-dark' for='account_mode'></label>
                </div>
                <!-- Name -->
                <div class='field'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='name'>Name</label>
                    <div class='control'>
                        <input class='input' type='text' name='name' value='{{data.user.name}}' required>
                    </div>
                </div>
                <!-- Bio -->
                <div class='field'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='name'>Bio</label>
                    <div class='control'>
                        <input class='input' type='text' name='bio' value='{{data.user.bio}}'>
                    </div>
                </div>
                {{!-- <!-- Profile Image -->
                <div class='field' id='pfp-input'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='name'>Profile Image
                    </label>
                    <div class='file has-name'>
                        <label class='file-label'>
                            <input class='file-input' type='file' name='resume' />
                            <span class='file-cta'>
                                <span class='file-icon'>
                                    <i class='fas fa-upload'></i>
                                </span>
                                <span class='file-label'>
                                    Choose a file…
                                </span>
                            </span>
                            <span class='file-name'>
                                No file chosen
                            </span>
                        </label>
                    </div>
                </div> --}}

                <!-- Email -->
                <div class='field'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='email'>Email</label>
                    <div class='control'>
                        <input class='input' type='text' name="email" value='{{data.user.email}}' required>
                    </div>
                </div>
                <!-- Phone Number -->
                <div class='field'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='phone_number'>Phone
                        Number</label>
                    <div class='control'>
                        <input class='input' type='text' name="phone_number" maxlength="8" value='{{data.user.phone_number}}' />
                    </div>
                </div>
                <hr>
                <h1 class='title is-4 has-text-left pb-4'>Social Networks</h1>
                <!-- Facebook -->
                <div class='field'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='fb'>Facebook</label>
                    <div class='control'>
                        <input class='input' type="url" name="fb" value='{{data.user.fb}}'>
                    </div>
                </div>
                <!-- Instagram -->
                <div class='field'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='insta'>Instagram</label>
                    <div class='control'>
                        <input class='input' type='url' name="insta" value='{{data.user.insta}}' />
                    </div>
                </div>
                <!-- LinkedIn -->
                <div class='field'>
                    <label class='label has-text-weight-medium has-text-grey-dark' for='linkedin'>LinkedIn</label>
                    <div class='control'>
                        <input class='input' type='url' name="li" value='{{data.user.li}}'>
                    </div>
                </div>
                <div class='field pt-5'>
                    <div class='control'>
                        <button class="button is-dark" type="submit"><i class="fas fa-save"></i>&nbsp;Commit changes</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    {{else}}
    <div class="box p-5">
        <h4 class="title">System Object Account</h4>
        <p>This user is a System Object, responsible for governing Tourisit's backend.</p>
        {{#ifEquals data.user.id '00000000-0000-0000-0000-000000000002'}}
        <p>Editing this user account's settings is not allowed.</p>
        {{else}}
        <p>Logging into, and editing this user account's settings is not allowed.</p>
        {{/ifEquals}}
    </div>
    {{/unless}}
</div>