<h1 class="title">All Active Bookings</h1>
<table class="table is-fullwidth">
    <tr>
        <th>Order Date</th>
        <th>Tour Date</th>
        <th>Tour</th>
        <th>Customer</th>
        <th>Status</th>
    </tr>
    {{#each data.bookList}}
    <tr>
        <td>{{dateParseISO this.orderDatetime }}</td>

        <td>{{dateParseISO this.tourStart }}</td>

        <td><a href="/tourguide/bookings/{{this.bookId}}">{{ this.[Shop.tourTitle] }}</a></td>

        <td>{{ this.custId }}</td>
        
        {{#ifEquals this.processStep '0'}}

            {{#ifEquals this.approved 0}}
            <td class="has-text-grey"><i class="fas fa-exclamation-circle"></i>&nbsp;Approve or Reject Tour</td>
            {{/ifEquals}}

            {{#ifEquals this.approved 1}}
            <td class="has-text-grey"><i class="fas fa-clock"></i>&nbsp;Awaiting customer payment (customisation fee)</td>
            {{/ifEquals}}

        {{/ifEquals}}

        {{#ifEquals this.processStep '1'}}
        <td class="has-text-danger-dark"><i class="fas fa-exclamation-circle"></i>&nbsp;Submit tour agenda</td>
        {{/ifEquals}}

        {{#ifEquals this.processStep '2'}}
        <td class="has-text-grey"><i class="fas fa-clock"></i>&nbsp;Pending customer feedback</td>
        {{/ifEquals}}

        {{#ifEquals this.processStep '3'}}
        <td class="has-text-grey"><i class="fas fa-clock"></i>&nbsp;Awaiting customer payment</td>
        {{/ifEquals}}

        {{#ifEquals this.processStep '4'}}
        <td class="has-text-info-dark"><i class="fas fa-clock"></i>&nbsp;Pending tour completion</td>
        {{/ifEquals}}
    </tr>
    {{/each}}

</table>

<section class="section is-small">
            <div class="has-text-centered">
                <span>
                    {{#ifBigger meta.count 0}}
                    {{#ifNotEquals meta.pageNo 1}}
                    <a href="?page={{math meta.pageNo '-' 1}}"><i class="fas fa-arrow-alt-circle-left"></i></a>
                    {{/ifNotEquals}}
                    Page {{meta.pageNo}} / {{meta.lastPage}}
                    {{#ifNotEquals meta.pageNo meta.lastPage}}
                    <a href="?page={{math meta.pageNo '+' 1}}"><i class="fas fa-arrow-alt-circle-right"></i></a>
                    {{/ifNotEquals}}
                    {{/ifBigger}}
                </span>
            </div>
        </section>