<link rel='stylesheet' href='/css/profile.css' />

<section class="section has-background-black">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-one-fifth">
                {{!-- <div class='profile-img-onprofile'
                    style="background-image: url('')"></div> --}}
                <div class='profile-img-onprofile' style="background-image: url('/static/users/{{uData.profile_img}}')"></div>
            </div>
            <div class="column has-text-white">
                <h1 class="title has-text-white is-2">{{uData.name}}</h1>
                <p class="subtitle has-text-grey-light">{{uData.bio}}</p>
                <p class="has-text-grey-lighter">
                    <span title="{{timestampParseISO uData.lastseen_time}}">
                        <i class="fas fa-clock"></i>&ensp;{{parseTimeAgo uData.lastseen_time}}
                    </span>
                    <span>
                        &nbsp;
                        &bull;
                        &nbsp;
                    </span>
                    <span title="{{timestampParseISO uData.createdAt}}">
                        Joined on {{dateParseISO uData.createdAt}}
                    </span>
                </p>
                <div class='field is-grouped has-text-right mt-3'>
                    {{#if uData.fb}}
                    <a id='fb' href='{{uData.fb}}' target="_blank">
                        <i class='fab fa-facebook fa-2x mr-3 has-text-grey'></i>
                    </a>
                    {{/if}}

                    {{#if uData.insta}}
                    <a id='fb' href='{{uData.insta}}' target="_blank">
                        <i class='fab fa-instagram fa-2x mr-3 has-text-grey'></i>
                    </a>
                    {{/if}}

                    {{#if uData.li}}
                    <a id='fb' href='{{uData.li}}' target="_blank">
                        <i class='fab fa-linkedin-in fa-2x has-text-grey'></i>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- TODO: Show a list of tours this user has created --}}
<section class="section">
    <div class="container">
        <h2 class="title">Tours by this user</h2>
        {{#if listings}}
        {{#each listings}}
        {{>listingCard}}
        {{/each}}
        {{else}}
        <p class="has-text-grey-light">No tours created yet.</p>
        {{/if}}
    </div>
</section>

{{!-- TODO: Show list of reviews this user has created --}}
<section class="section has-background-light">
    <div class="container">
        <h2 class="title">Reviews by this user</h2>
        {{#if data.reviews}}
        <div class="box p-5">
            <p>
                <span class="has-text-weight-bold">
                    <a href="/u/profile/{{Changethis}}">Ri Takamochi</a>
                </span>
                <span>
                    &nbsp;
                    &bull;
                    &nbsp;
                </span>
                <span>
                    10/12/2021
                </span>
                <span>
                    &nbsp;
                    &bull;
                    &nbsp;
                </span>
                <span class="has-text-grey-lighter">
                    <i class="fas fa-star has-text-dark"></i>
                    <i class="fas fa-star has-text-dark"></i>
                    <i class="fas fa-star has-text-dark"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
            </p>
            <p class="content">The tour guide is very friendly. Would buy again</p>
        </div>
        {{else}}
        <p class="has-text-grey-light">No reviews created yet.</p>
        {{/if}}
    </div>
</section>